/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-black: #000000;
  --color-gold-dark: #D0A871;
  --color-gold-light: #FBD182;
  --color-yellow-light: #F5CD87;
  --color-grey: #8E8D8B;
  --color-light-grey: #F7F7F7;
  --color-white: #FFFFFF;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-grey);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-color: var(--color-light-grey);
  direction: rtl;
  line-height: 1.6;
}

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}